.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-auto-rows: 300px; /* Row height */
  grid-gap: 10px; /* Gap between grid items */
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured {
  grid-column: span 2; /* Span 2 columns */
  grid-row: span 2; /* Span 2 rows */
}
